.App {
  text-align: center;
}
.navbar-toggler,
.search-btn {
  background-color: #277dbe;
}
.nav-item .btn {
  border-radius: 20px;
  margin: 0.3rem;
  line-height: 0.9rem;
  background-color: #277dbe;
  /* color: #f39207; */
  color: #fff;
}
.nav-link {
  color: #000 !important;
}
.search-form {
  display: flex;
}
.search-btn {
  border-radius: 20px;
  margin: 0 0.5rem;
}
#SearchBar {
  width: 300px;
  border-radius: 20px;
}
.autoComplete {
  position: absolute;
  margin: 0 2px;
  padding: 0.5rem;
  text-transform: capitalize;
  z-index: 10;
  background-color: #fff;
  color: #000;
  background-color: #277dbe26;
}
.search-list {
  background-color: #277dbe26;
}

@media only screen and (min-width: 668px) {
  .auth-profile {
    display: -webkit-inline-box;
  }
  .profile {
    margin-left: 1.5rem;
  }
}
