.App {
  text-align: center;
}
.navbar-toggler,
.search-btn {
  background-color: #277dbe;
}
.nav-item .btn {
  border-radius: 20px;
  margin: 0.3rem;
  line-height: 0.9rem;
  background-color: #277dbe;
  /* color: #f39207; */
  color: #fff;
}
.nav-link {
  color: #000 !important;
}
.search-form {
  display: flex;
}
.search-btn {
  border-radius: 20px;
  margin: 0 0.5rem;
}
#searchbar {
  width: 300px;
  border-radius: 20px;
}
