.App {
  text-align: center;
}
.navbar-toggler {
  background-color: #277dbe;
}
.nav-item .btn {
  border-radius: 20px;
  margin: 0.3rem;
  line-height: 0.9rem;
  background-color: #277dbe;
  /* color: #f39207; */
  color: #fff;
}
.nav-link {
  color: #000 !important;
}
